<section id="mv" class="d-flex justify-content-center">
    <div class="main-mt">
        <h1 class="back-massage-big mb-10px">Lorem Ipsum</h1>
        <p class="back-massage-small">simply dummy text of the printing</p>
    </div>
</section>

<section class="container-fluid flex-column justify-content-center align-items-center port-bg">
  <section class="portfolio-box d-flex flex-column align-items-center justify-content-center">
    <h2 class="portfolio">Portfolio</h2>
    <div class="port-border"></div>
    </div>
    <p class="port-massage">It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
  </section>

  <div class="port-box d-flex justify-content-center mx-auto flex-wrap">
    <div class="port-boxes">
    </div>
    <div class="port-boxes">
    </div>
    <div class="port-boxes">
    </div>
    <div class="port-boxes">
    </div>
    <div class="port-boxes">
    </div>
    <div class="port-boxes">
    </div>
  </div>

</section>