<section id="mv" class="container-fluid d-flex justify-content-center">
  <div class="row">
    <div class="col-md main-mt">
        <h1 class="back-massage-big mb-10px">Lorem Ipsum</h1>
        <p class="back-massage-small">simply dummy text of the printing</p>
    </div>
  </div>
</section>

<section class="container-fluid flex-column justify-content-center align-items-center port-bg">
  <section class="portfolio-box d-flex flex-column align-items-center justify-content-center">
    <h2 class="portfolio">Portfolio</h2>
    <div class="port-border"></div>
    </div>
    <p class="port-massage">It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
  </section>

  <div class="container-fluid">
      <div class="row flex-column justify-content-center mx-auto">
        <div class="row port-box justify-content-center mx-auto">
          <div class="col-md port-boxes">
          </div>
          <div class="col-md port-boxes">
          </div>
          <div class="col-md port-boxes">
          </div>
        </div>
        <div class="row port-boxs justify-content-center mx-auto">
          <div class="col-md port-boxess">
          </div>
          <div class="col-md port-boxess">
          </div>
          <div class="col-md port-boxess">
          </div>
        </div>
      </div>
  </div>
</section>

<section class="container-fluid container-Feature justify-content-center">
  <section class="row-md portfolio-box d-flex flex-column align-items-center justify-content-center Featurebox">

      <h2 class="portfolio">Feature</h2>
      <div class="port-border"></div>
      <p class="port-massage">It is a long established fact that a reader will be distracted by the readable<br>
          content of a page when looking at its layout.<br>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>

  </section>

  <div class="container-fluid  strength-box d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-md strength-boxes d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">
          <div class="">
            <i class="fas fa-dumbbell"></i>
          </div>
          <h3>strength1</h3>
        </div>
        <div class="strength-massage ">
          Contrary to popular belief, Lorem Ipsum<br> is not simply random text. It has roots<br> in a piece of classical Latin literature<br> from 45 BC, making it over 2000 years<br> old. Richard McClintock, a Latin<br> professor at Hampden-Sydney College<br> in Virginia, looked up one of the more<br> obscure Latin words, consectetur
        </div>
      </div>

      <div class="col-md strength-boxes d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">
          <div class="">
            <i class="fas fa-dumbbell"></i>
          </div>
          <h3>strength1</h3>
        </div>
        <div class="strength-massage">
          Contrary to popular belief, Lorem Ipsum<br> is not simply random text. It has roots<br> in a piece of classical Latin literature<br> from 45 BC, making it over 2000 years<br> old. Richard McClintock, a Latin<br> professor at Hampden-Sydney College<br> in Virginia, looked up one of the more<br> obscure Latin words, consectetur
        </div>
      </div>

      <div class="col-md strength-boxes d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">
          <div class="">
            <i class="fas fa-dumbbell"></i>
          </div>
          <h3>strength1</h3>
        </div>
        <div class="strength-massage ">
          Contrary to popular belief, Lorem Ipsum<br> is not simply random text. It has roots<br> in a piece of classical Latin literature<br> from 45 BC, making it over 2000 years<br> old. Richard McClintock, a Latin<br> professor at Hampden-Sydney College<br> in Virginia, looked up one of the more<br> obscure Latin words, consectetur
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid flex-column justify-content-center align-items-center port-bg">
    <section class="portfolio-box d-flex flex-column align-items-center justify-content-center">
      <h2 class="portfolio">Profile</h2>
      <div class="port-border"></div>
      <p class="port-massage">It is a long established fact that a reader will be distracted by the readable<br>
          content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    </section>

    <div class="row">
      <div class="row profile-box d-flex justify-content-center m-auto">
        <div class="col-md profile-image-box m-auto">
          <div class="profile-image m-auto">
          </div>
        </div>

        <div class="col-md profile-massage-box flex-column align-items-start justify-content-center">
          <h3 class="massage">MyName</h3>
          <p class="massage">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
          </p>

          <h3 class="massage">MySkills</h3>
          <p class="massage">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
        </div>
      </div>
    </div>
</section>

<section class="container-fluid container-Contact justify-content-center">
  <section class="row portfolio-box Featurebox">
    <div class="col-md d-flex flex-column align-items-center justify-content-center">
    <h2 class="portfolio">Contact</h2>
    <div class="port-border"></div>
    <p class="port-massage">It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
    </p>
    </div>
  </section>

  <div class="container-fluid contact-container d-flex justify-content-center m-auto">
    <div class="row d-flex flex-row justify-content-center">
      <div class="contact-render-box justify-content-center">
        <div class="contact-render-boxes text-left m-auto">
          <h3 class="text-left">Mail</h3>
          <p class="text-left">xxx@xxx.com</p>
        </div>
        <div class="contact-render-boxes text-left m-auto">
          <h3 class="text-left">Tel</h3>
          <p class="text-left">000-0000-0000</p>
        </div>
      </div>

      <div class="contact flex-column align-items-center">
        <div class="contact-sns-box m-auto">
          <h3 class="text-left sns">SNS</h3>
          <div class="sns-box d-flex">
            <div class="sns-item">
              <i class="fab fa-facebook-f"></i>
            </div>
            <div class="sns-item">
              <i class="fab fa-facebook-f"></i>
            </div>
            <div class="sns-item">
              <i class="fab fa-facebook-f"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




